DATABASE_URL="############"
PORT=########
AT_USERNAME=sandbox
AT_API_KEY=###########
BACKEND_URL=######################
FRONTEND_URL=http://localhost:3000
GOOGLE_EMAIL=foodbundlesrw@gmail.com
GOOGLE_PASSWORD="oyps sfql blng ogdc"
